/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .comment-board {
   height: 500px;
   width: 90%;
   border: 1px solid black;
 }

.place-top {
  white-space:pre-wrap;
}

.login-form-container {
   text-align: center;
}

#user-profile-pic {
  height: 30px;
  border-radius: 30px;
  width: 30px;
}

.splash-pic-container {
  background-image: url("http://res.cloudinary.com/dywbzmakl/image/upload/v1467236626/slider-1_tgihov.jpg");
  background-size: cover;
  height: 500px;
  width: 100%;
  background-position: 50% 30%;
  z-index: 99;
  position: relative;
  display: flex;
}

.splash-page-search-bar {
  height: 40px;
  width: 250px;
  z-index: 9;
  border: 1px solid gray;
  background-color: white;
  bottom: -2%;
  position: absolute;
  right: 42%;
}

#main-page {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.column-container {
  display: flex;
  justify-content: space-around;
}

.group-info{
  width: 100%;
}

.detail-left{
  width: 15%;
  border: 2px solid #CFCFCF;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}

.detail-main{
  width: 65%;
  border: 2px solid #CFCFCF;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}

#group-image{
  width: 100%;
  border-radius: 10px;
}

.detail-right {
  width: 15%;
  border: 2px solid #CFCFCF;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}

.group-rows {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 0px;
  margin-right: 10px;
  flex-flow: row wrap;
}

.group-pic-user-detail-container {
  width: 25%;
  height: 200px;
}

#user-detail-pic {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.group-index-item-container {
  display: block;
  width: 200px;
  height: auto;
  min-height: 200px;
  margin-bottom: 20px
}

.group-index-item {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.detail-pane{
  margin-top: 50px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 80%;
}

.detail-header {
  color: white;
  background-color: #766F6F;
  display: flex;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  margin: 5px auto;
  height: 15%;
  border: 2px solid #CFCFCF;
  border-radius: 10px;
}

.event-attendess {
  display: flex;
  height: 100px;
}

#user-event-pic {
  height: 30px;
  width: 30px;
  border-radius: 20px;
}

.member-pic-container {
  width: inherit;
  height: 75px;
}

#member-pic{
  width: 100%;
  height: inherit;
}

.creator-pic-container{
  width: inherit;
  height: 100px;
}

#creator-pic {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#event-image {
  width: 100%;
  height: 75px;
  border-radius: 10px;
}

.input-calendar {
  font-family: 'Pontano Sans', sans-serif;
  position: relative;
}
.input-calendar-wrapper {
  position: absolute;
  padding: 5px 12px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  box-shadow: 0 0 9px 5px rgba(0,0,0,0.05);
  background-color:  #edefed;
  text-align: center;
  left: 140px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 17;
}
.input-calendar .input-calendar-field {
  width: 120px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px;
  padding: 2px 8px;
}
.input-calendar .input-calendar-field:focus {
  outline: none;
  border: 1px solid #f39c12;
}
.input-calendar .calendar-icon {
  display: inline-block;
  padding: 0px 1px 0 5px;
  height: 27px;
  line-height: 27px;
  transform: translateY(4px);
  cursor: pointer;
}
.input-calendar .days,
.input-calendar .months,
.input-calendar .years {
  width: 189px;
  padding-bottom: 2px;
}
.input-calendar .cell {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input-calendar .cell:hover {
  color: #f39c12;
  border: 1px solid #f39c12;
  border-radius: 4px;
}
.input-calendar .cell.current {
  background: #f39c12;
  color: #fff;
  border-radius: 4px;
  opacity: .8;
}
.input-calendar .day {
  width: 25px;
  height: 25px;
  line-height: 25px;
}
.input-calendar .day.prev,
.input-calendar .day.next {
  opacity: .4;
}
.input-calendar .month {
  width: 58px;
  height: 38px;
  line-height: 38px;
}
.input-calendar .year {
  width: 58px;
  height: 38px;
  line-height: 38px;
}
.input-calendar .days-title .cell {
  height: 25px;
  line-height: 28px;
  opacity: 0.5;
  cursor: default;
}
.input-calendar .days-title .cell:hover {
  color: #000;
  border: 1px solid #fff;
}
.input-calendar .navigation-title {
  width: 100px;
  display: inline-block;
  cursor: pointer;
}
.input-calendar .years-view .navigation-title {
  cursor: default;
}
.input-calendar .years-view .navigation-title:hover {
  color: #000;
}
.input-calendar .navigation-title:hover {
  color: #f39c12;
}
.input-calendar .icon-wrapper {
  cursor: pointer;
}
.input-calendar .icon:hover,
.input-calendar .today-btn:hover,
.input-calendar .icon-wrapper:hover {
  color: #f39c12;
}
.input-calendar .icon {
  cursor: pointer;
  width: 20px;
}
.input-calendar .today-btn {
  cursor: pointer;
}
.input-calendar .cell.day.today {
  position: relative;
}
.input-calendar .cell.day.today:after {
  content: '.';
  position: absolute;
  bottom: 15px;
  font-size: 20px;
  color: #F39C12;
}
