/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .login-form-container {
   text-align: center;
 }

#splash-pic {
  height: 700px;
  width: 100%;
}

#main-page {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 80%;
}

.column-container {
  display: flex;
  justify-content: space-around;
}

.group-info{
  width: 100%;
}

.group-details{
  width: 15%;
  border: 2px solid #CFCFCF;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}

.group-events{
  width: 65%;
  border: 2px solid #CFCFCF;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}

#group-image{
  width: 100%;
  border-radius: 10px;
}

.group-new {
  width: 15%;
  border: 2px solid #CFCFCF;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}

.group-rows {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 25px;
  height: 300px;
}


.group-index-item-container {
  display: block;
  width: 23%;
  height: auto;
}

.group-index-item {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.group-detail-pane{
  margin-top: 50px;
  margin: 0 auto;
}

.group-header {
  color: white;
  background-color: #766F6F;
  display: flex;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  margin: 5px auto;
  height: 15%;
  border: 2px solid #CFCFCF;
  border-radius: 10px;
}
