$navbar-default-bg: red;


@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7 em;
  color: #fff;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
